---
import MainLayout from '../../layout/MainLayout.astro';
import SesionLayout from '../../layout/SesionLayout.astro';
---

<MainLayout>
	<SesionLayout>
	<div>
		Hola
	</div>
	</SesionLayout>
	<SesionLayout>
		<div>
			Hola 2
		</div>
	</SesionLayout>
	<SesionLayout>
		<div>
			Hola 3
		</div>
	</SesionLayout>
</MainLayout>