---
import MainLayout from '../../layout/MainLayout.astro';
import SesionLayout from '../../layout/SesionLayout.astro';
import Intro1 from '../../modules/1-Inicio/1-intros/1-intro1.astro';
---

<MainLayout>
	<SesionLayout>
		<Intro1/>
	</SesionLayout>
	<SesionLayout>
		<div>
			Hola 2
		</div>
	</SesionLayout>
	<SesionLayout>
		<div>
			Hola 3
		</div>
	</SesionLayout>
</MainLayout>