---
import Header from "../../modules/7-General/0-Header/header.astro";
// Importa el componente de React (Navbar1)
import Navbar1 from "../../modules/7-General/1-navbars/1-navbar1-t.jsx";

---

<html lang="es">
	<Header />
	<body>
		<!-- Navbars 1 -->
		<Navbar1/>
		<!-- Navbars 2 -->
		<!-- Navbars 3 -->
		<!-- Navbars 4 -->
		<!-- Navbars 5 -->
		<!-- Navbars 6 -->
	</body>
</html>
