---
import MainLayout from '../../layout/MainLayout.astro';
import SesionLayout from '../../layout/SesionLayout.astro';
import IntroSelect from '../../modules/1-Inicio/1-intros/1-intro1.astro';
---

<MainLayout>
	<SesionLayout>
		<IntroSelect/>
	</SesionLayout>
	<SesionLayout>
		<div>
			Hola 2
		</div>
	</SesionLayout>
	<SesionLayout>
		<div>
			Hola 3
		</div>
	</SesionLayout>
</MainLayout>