---
import Header from "../modules/7-General/0-Header/header.astro";
import NavbarSelect from "../config/0-Cliente-Configuracion/7-general-config/1-general-config.jsx";
---

<html lang="es">
  <Header />
  <body>
    <!-- Navbar -->
    <NavbarSelect client:load />
    <!-- Main -->
    <slot />
    <!-- Footer -->
  </body>
</html>
